@model KurumsalWeb.Models.Model.Kategorii

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayoutt.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h2>Kategori Sil</h2>

        <h3>Kategoriyi Silmek istediğinize emin misiniz?</h3>
        <div>
            <h4>Kategorii</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KategoriAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KategoriAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aciklama)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-default" /> |
                    @Html.ActionLink("Geri Dön", "Index")
                </div>
            }
        </div>

    </div>
</main>
