@model KurumsalWeb.Models.Model.Kategorii

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutt.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h2>Kategori Detay</h2>

        <div>
            <h4>Kategorii</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KategoriAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KategoriAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aciklama)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Güncelle", "Edit", new { id = Model.KategoriID }) |
            @Html.ActionLink("Geri Dön", "Index")
        </p>


    </div>
</main>